<?xml version="1.0"?>
<robot name="epal6_pallet">
  <link name="pallet">
    <visual name="bottom_board_0">
      <origin xyz="0 -0.35 0.011" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_bottom_board_0">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="bottom_board_0">
      <origin xyz="0 -0.35 0.011" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
    <visual name="bottom_board_1">
      <origin xyz="0 0 0.011" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.145 0.022" />
      </geometry>
      <material name="wood_bottom_board_1">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="bottom_board_1">
      <origin xyz="0 0 0.011" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.145 0.022" />
      </geometry>
    </collision>
    <visual name="bottom_board_2">
      <origin xyz="0 0.35 0.011" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_bottom_board_2">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="bottom_board_2">
      <origin xyz="0 0.35 0.011" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
    <visual name="block_x0_y0">
      <origin xyz="-0.2275 -0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
      <material name="wood_block_x0_y0">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x0_y0">
      <origin xyz="-0.2275 -0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
    </collision>
    <visual name="block_x0_y1">
      <origin xyz="-0.2275 0 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.145 0.078" />
      </geometry>
      <material name="wood_block_x0_y1">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x0_y1">
      <origin xyz="-0.2275 0 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.145 0.078" />
      </geometry>
    </collision>
    <visual name="block_x0_y2">
      <origin xyz="-0.2275 0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
      <material name="wood_block_x0_y2">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x0_y2">
      <origin xyz="-0.2275 0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
    </collision>
    <visual name="block_x1_y0">
      <origin xyz="0 -0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
      <material name="wood_block_x1_y0">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x1_y0">
      <origin xyz="0 -0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
    </collision>
    <visual name="block_x1_y1">
      <origin xyz="0 0 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.145 0.078" />
      </geometry>
      <material name="wood_block_x1_y1">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x1_y1">
      <origin xyz="0 0 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.145 0.078" />
      </geometry>
    </collision>
    <visual name="block_x1_y2">
      <origin xyz="0 0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
      <material name="wood_block_x1_y2">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x1_y2">
      <origin xyz="0 0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
    </collision>
    <visual name="block_x2_y0">
      <origin xyz="0.2275 -0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
      <material name="wood_block_x2_y0">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x2_y0">
      <origin xyz="0.2275 -0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
    </collision>
    <visual name="block_x2_y1">
      <origin xyz="0.2275 0 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.145 0.078" />
      </geometry>
      <material name="wood_block_x2_y1">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x2_y1">
      <origin xyz="0.2275 0 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.145 0.078" />
      </geometry>
    </collision>
    <visual name="block_x2_y2">
      <origin xyz="0.2275 0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
      <material name="wood_block_x2_y2">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="block_x2_y2">
      <origin xyz="0.2275 0.35 0.061" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.1 0.078" />
      </geometry>
    </collision>
    <visual name="stringer_0">
      <origin xyz="-0.2275 0 0.111" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.8 0.022" />
      </geometry>
      <material name="wood_stringer_0">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="stringer_0">
      <origin xyz="-0.2275 0 0.111" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.8 0.022" />
      </geometry>
    </collision>
    <visual name="stringer_1">
      <origin xyz="0 0 0.111" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.8 0.022" />
      </geometry>
      <material name="wood_stringer_1">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="stringer_1">
      <origin xyz="0 0 0.111" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.8 0.022" />
      </geometry>
    </collision>
    <visual name="stringer_2">
      <origin xyz="0.2275 0 0.111" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.8 0.022" />
      </geometry>
      <material name="wood_stringer_2">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="stringer_2">
      <origin xyz="0.2275 0 0.111" rpy="0 0 0" />
      <geometry>
        <box size="0.145 0.8 0.022" />
      </geometry>
    </collision>
    <visual name="top_board_0">
      <origin xyz="0 -0.35 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_top_board_0">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="top_board_0">
      <origin xyz="0 -0.35 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
    <visual name="top_board_1">
      <origin xyz="0 -0.233333333333 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_top_board_1">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="top_board_1">
      <origin xyz="0 -0.233333333333 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
    <visual name="top_board_2">
      <origin xyz="0 -0.116666666667 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_top_board_2">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="top_board_2">
      <origin xyz="0 -0.116666666667 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
    <visual name="top_board_3">
      <origin xyz="0 0 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_top_board_3">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="top_board_3">
      <origin xyz="0 0 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
    <visual name="top_board_4">
      <origin xyz="0 0.116666666667 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_top_board_4">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="top_board_4">
      <origin xyz="0 0.116666666667 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
    <visual name="top_board_5">
      <origin xyz="0 0.233333333333 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_top_board_5">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="top_board_5">
      <origin xyz="0 0.233333333333 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
    <visual name="top_board_6">
      <origin xyz="0 0.35 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
      <material name="wood_top_board_6">
        <color rgba="0.62 0.40 0.20 1" />
      </material>
    </visual>
    <collision name="top_board_6">
      <origin xyz="0 0.35 0.133" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.1 0.022" />
      </geometry>
    </collision>
  </link>
</robot>
